# Random Forest x IRIS

In [1]:
import numpy as np
import pandas as pd
#autres

### Importer le dataset IRIS

In [4]:
data_url = "../../dataset/iris.csv"
iris_df = pd.read_csv(data_url)

### Faite un dataFrame et renommer les colonnes

In [5]:
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
iris_df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [8]:
iris_df = iris_df.rename(columns={'sepal_length': 's_l', 'sepal_width':'s_w', 'petal_length': 'p_l', 'petal_width':'p_w' })
iris_df

     s_l  s_w  p_l  p_w    species
0    5.1  3.5  1.4  0.2     setosa
1    4.9  3.0  1.4  0.2     setosa
2    4.7  3.2  1.3  0.2     setosa
3    4.6  3.1  1.5  0.2     setosa
4    5.0  3.6  1.4  0.2     setosa
..   ...  ...  ...  ...        ...
145  6.7  3.0  5.2  2.3  virginica
146  6.3  2.5  5.0  1.9  virginica
147  6.5  3.0  5.2  2.0  virginica
148  6.2  3.4  5.4  2.3  virginica
149  5.9  3.0  5.1  1.8  virginica

[150 rows x 5 columns]

In [9]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

### Définir les variables features et la target & effectuer un split

### Entrainer le classifieur

### Afficher l'accuracy de votre classifieurs

### Analyser votre classifieur, que voyez vous ?

### Afficher les features importances

### Afficher graphiquement les features importances

### Entrainer votre classifieurs avec moins de features

### Que constatez vous ?