# Base de donn√©es Sqlite3

In [1]:
import sqlite3

In [23]:
cnxn = sqlite3.connect('mabase.db')

In [24]:
cursor = cnxn.cursor()

In [5]:
cursor.execute("""CREATE TABLE toto_t(
    id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,
    first_name_f TEXT,
    last_name_f TEXT,
    age_f INTEGER
) ; """)

In [10]:
cursor.execute("""INSERT INTO toto_t(first_name_f ,
    last_name_f,
    age_f ) VALUES ('Daisy', 'Duck', 30) ; """)

In [25]:
cursor.execute("""
    SELECT *
    FROM toto_t;
""")

In [26]:
rows = cursor.fetchall()
for r in rows:
    print(r)

(1, 'Donald', 'Duck', 40)

In [14]:
cursor.execute("""
    UPDATE toto_t
    SET last_name_f='Mouse'
    WHERE first_name_f='Daisy';
""")

In [17]:
cursor.execute("""
    DELETE FROM toto_t
    WHERE id=2;

""")

In [20]:
cnxn.commit()

In [21]:
cnxn.close()