# Exercice SQLITE3

## Créer une base de données  user(prenom, bureau) ; le prenom identifie une personne unique.

In [2]:
import sqlite3
connection = sqlite3.connect('dbbureau')

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute("""

    CREATE TABLE equipe(
        id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,
        prenom TEXT UNIQUE,
        bureau INTEGER
    );

""")

In [5]:
team = [('Marina',1),
('Rabah',1),
('Kevin', 2),
('Younès', 2),
('Adam', 2),
('Nicolas', 3),
('Hanane', 3),
('Pierre', 4),
('Abdourahmane', 4),
('Julien', 5),
('Olivier', 5),
('Naziha', 6),
('Sidi', 6),
('Soumia', 6),
('Cyrille', 6),]


cursor.executemany("""
    INSERT INTO equipe(prenom,bureau)
    VALUES (?,?);""",team)

In [19]:
cursor.execute("""

    SELECT *
    FROM equipe
    ORDER BY prenom ASC
    
""")
rows = cursor.fetchall()
for r in rows:
    print(r)

(9, 'Abdourahmane', 4)
(5, 'Adam', 2)
(15, 'Cyrille', 6)
(7, 'Hanane', 3)
(10, 'Julien', 5)
(3, 'Kevin', 2)
(1, 'Marina', 1)
(12, 'Naziha', 78)
(6, 'Nicolas', 3)
(11, 'Olivier', 5)
(8, 'Pierre', 4)
(2, 'Rabah', 1)
(13, 'Sidi', 6)
(14, 'Soumia', 6)
(4, 'Younès', 2)

In [17]:
try:
    cursor.execute("""

        INSERT INTO equipe(prenom,bureau)
        VALUES ("Naziha", 78);

    """)
except sqlite3.IntegrityError:
    print("C'est un prénom qui existe déjà dans la base")

C'est un prénom qui existe déjà dans la base

In [18]:
cursor.execute("""
   UPDATE equipe
   SET bureau=78
   WHERE prenom='Naziha';

""")